h1 {
    font-family: 'Frank Ruhl Libre', serif;
    color: #fff;
    font-size: 64px;
    line-height: 64px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 16px;
}

h2 {
    font-family: 'Frank Ruhl Libre', serif;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    margin-bottom: 24px;
}

h3 {
    font-family: 'Frank Ruhl Libre', serif;
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 8px;
}

h4 {
    font-family: 'Assistant', sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

h5 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 8px;
}

h6 {
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #999;
    margin-top: 16px;
    margin-bottom: 8px;
}

p {
    font-family: 'Assistant', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.quote {
    font-family: 'Frank Ruhl Libre', serif;
    color: #fff;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
}

body {
    font-family: 'Assistant', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5em;
}

.footer {
    text-align: center;
    font-family: 'Assistant', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 48px;
    margin-right: 48px;
}

.social {
    width: 32px;
    height: 32px;
    margin-left: 8px;
}

a {
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    line-height: 1.5em;
    padding-left: 0px;
    padding-left: 16px;
    padding-right: 16px;
}

.wavetop {
    display: flex;
    background-color: #333;
}

.wavelow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333
}

time {
    font-family: 'Assistant', sans-serif;
    color: #777777;
    font-size: 1em;
    line-height: 1.5em;
    text-align: right;
    padding-left: 16px;
    position: relative;
    bottom: 42px;
}

.nav {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.nav:hover {
    color: #38EF7D;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    box-shadow: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #11998E;
    height: 32px;
    padding: 32px;
}

base {
    display: flex;
    justify-content: space-between;
    background: #111;
    height: 32px;
    padding: 32px;
}

.hero {
    display: flex;
    padding-top: 48px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 48px;
    justify-content: center;
    background: linear-gradient(#11998E, #38EF7D);
}

.logo {
    height: 48px;
}

input {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 8px;
    background-color: #333;
    border: none;
    border-radius: 0px;
    height: 40px;
    width: 100%;
    max-width: 320px;
    outline-color: #38EF7D;
    outline-width: 2px;
    font-size: 14px;
    color: #fff;

}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #666;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #666;
}


.one {
    width: 720px;
    text-align: center;
}

.two {
    width: 720px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.three {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    -webkit-animation: fadein 2s linear forwards;
    animation: fadein 2s linear forwards;
    opacity: 0;
    margin-bottom: 48px;
}

@-webkit-keyframes fadein {
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    100% {
        opacity: 1;
    }

}

.box {
    width: 240px;
    margin: 24px;
    padding: 24px;
    background-color: #222;
}

.icon {
    width: 64px;
}

.avatar {
    width: 120px;
}

.focus {
    width: 100%;
    max-width: 1080px;
    position: relative;
    top: -144px;
    border-radius: 8px;
}

.four {
    width: 17%;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 1%;
    margin-right: 1%;
    padding: 32px;
    background: #fff;
    display: inline-block;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.green {
    color: #11998e;
}

button:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.badge {
    background-image: linear-gradient(90deg, #38EF7D 0%, #11998E 100%);
    display: inline-block;
    height: 8px;
    width: 40px;
    border-radius: 4px;
    margin-bottom: 24px;
}

.cta {
    display: inline-block;
    background: #38EF7D;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 24px;
    border: 0px;
    color: #fff;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    vertical-align: middle;
}

.banner .cta {
    margin-top: 24px;
}

.three .cta {
    margin-top: 24px;
    margin-bottom: 48px;
}

.card .cta {
    margin-top: 24px;
}

.formdark .cta {
    margin-top: 24px;
}

.formdark .nav {
    margin-top: 24px;
}

.play {
    margin-top: 16px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
}

a:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
    background: #23da6d;
}

.field {
    width: 280px;
    height: 40px;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    color: #ddd;
    font-size: 16px;
    padding-left: 8px;
    margin: 8px;
    background-color: rgba(221, 221, 221, 0.4);
    border-color: #fff;
    box-shadow: none;
    border: none;
    border-radius: 8px;
    vertical-align: middle;
}

button {
    background: #fff;
    margin: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 24px;
    border: 0px;
    color: #11998E;
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.dark {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: #111;
    padding: 48px;
    border: 1px;
}

.formdark {
    text-align: center;
    margin-bottom: 48px;
    padding: 48px;
    background-color: #111;
    width: 100%;
    max-width: 480px;
}

.banner {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
    background: linear-gradient(-150deg, #38EF7D, #11998E);
    width: 100%;
}

.card {
    max-width: 240px;
    text-align: center;
    padding: 24px;
    margin: 24px;
    border-radius: 8px;
    background-color: #111;
    background: linear-gradient(-150deg, #38EF7D, #11998E);
    width: 100%;
}

audio {
    width: 100%;
}

body>img {
    display: block;
    width: 100%;
}

.mySlides {
    display: none;
}

.slider {
    display: inline-block;
    outline: none;
    background-color: #111;
    border-radius: 50%;
    border: 2px solid #333;
    padding-top: 14px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 14px;
    color: #333;
}

.content {
    padding-top: 96px;
}